
@{
    ViewBag.Title = "Dashbord";
}

<h2 class="p-2">Dashbord</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card m-2 shadow">
                <div class="card-body">
                    <h4>Contractors</h4>
                    <h4>@ViewBag.ccount</h4>
                </div>
                <div class="card-footer">
                    <a href="/contractors">View Details >></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card m-2 shadow">
                <div class="card-body">
                    <h4>Tendors</h4>
                    <h4>@ViewBag.tcount</h4>
                </div>
                <div class="card-footer">
                    <a href="/tendors">View Details >></a>
                </div>
            </div>
        </div>
    </div>
</div>

